## 类名首字母大写
#set($upperClassName = $className.substring(0,1).toUpperCase()+ $className.substring(1))
package ${packagePath}.entity;

import ${packagePath}.base.BaseEntity;
import com.fasterxml.jackson.annotation.JsonFormat;
import org.springframework.format.annotation.DateTimeFormat;
##import com.fasterxml.jackson.annotation.JsonInclude;
import lombok.Data;
import java.util.Date;

##@JsonInclude(JsonInclude.Include.NON_NULL)
@Data
public class ${upperClassName} extends BaseEntity{
#foreach(${column} in ${columns})
#if( $!column.remarks!= "")
    // $column.remarks
#end
#if(${column.typeName} == 'Date')
    @JsonFormat(timezone = "GMT+8", pattern = "YYYY-MM-dd HH:mm:ss")
    @DateTimeFormat(pattern="yyyy-MM-dd HH:mm:ss")
#end
    private ${column.typeName} ${column.columnName};
#end

    @Override
    public void preInsert() {}

    @Override
    public void preUpdate() {}
}