package ${packagePath}.service.impl;
## 类名首字母大写
#set($upperClassName = $className.substring(0,1).toUpperCase()+ $className.substring(1))
## 类名首字母小写
#set($lowerClassName = $className.substring(0,1).toLowerCase()+ $className.substring(1))
import ${packagePath}.base.BaseServiceImpl;
import ${packagePath}.dao.${upperClassName}Mapper;
import ${packagePath}.entity.${upperClassName};
import ${packagePath}.entity.${upperClassName}Example;
import ${packagePath}.service.${upperClassName}Service;
import javax.annotation.Resource;
import org.springframework.stereotype.Service;

import java.util.Arrays;
import java.util.List;

@Service
public class ${upperClassName}ServiceImpl extends BaseServiceImpl<${upperClassName}> implements ${upperClassName}Service {
    @Resource
    ${upperClassName}Mapper ${lowerClassName}Mapper;

    @Override
    public List<${upperClassName}> selectAll(){
        return ${lowerClassName}Mapper.selectByExample(null);
    }

    @Override
    public int deleteByIDs(Long[] ids){
        ${upperClassName}Example example = new ${upperClassName}Example();
        example.createCriteria().andIdIn(Arrays.asList(ids));
        return ${lowerClassName}Mapper.deleteByExample(example);
    }
}
