package ${packagePath}.service;
## 类名首字母大写
#set($upperClassName = $className.substring(0,1).toUpperCase()+ $className.substring(1))
## 类名首字母小写
#set($lowerClassName = $className.substring(0,1).toLowerCase()+ $className.substring(1))
import ${packagePath}.base.BaseService;
import ${packagePath}.entity.${upperClassName};
import ${packagePath}.common.Message;
import java.util.List;

public interface ${upperClassName}Service extends BaseService<${upperClassName}>{
    List<${upperClassName}> selectAll(${upperClassName}Example example);
    Message selectByPages(${upperClassName}Example example);
    int deleteByIDs(${primaryKeyType}[] ids);
}
