<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--解决，查询返回结果含null没有对应字段值问题-->
        <setting name="callSettersOnNulls" value="true"/>
        <!-- 开启二级缓存，默认是false -->
        <setting name="cacheEnabled" value="true"/>
    </settings>
</configuration>